{% extends "./Database/DatabaseLayout.html.twig" %}
{% block title %} Base de données - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Base de données</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row"><a href="/User/ListAll">[{{ userList|length }}] Utilisateurs</a></th>
            </tr>
            {% for user in userList %}
                <tr>
                    <th scope="row"><a href="/User/Show/{{ user.id }}">#{{ user.id }}</a></th>
                    <td>{{ user.nom }} </td>
                    <td>{{ user.prenom }}</td>


                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}