<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

    <link rel="stylesheet" href="/assets/css/stylechat.css">


</head>
<body>
<a href="/accueil" style="z-index: 100;position: absolute;width: 9%;left: -5%;top: -0%">
    <div id="ToHomepage">
        <input style="text-align: center;" class="submit" value="Accueil">
    </div>
</a>
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                {% if iddest is defined %}
                    {% if myinfo.photoNom != '' and file_exist('./uploads/images/useruploads/'~ myinfo.photoRepo ~'/'~ myinfo.photoNom) %}
                        <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ myinfo.photoRepo }}/{{myinfo.photoNom}}" class="online">
                    {% else %}
                        <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
                    {% endif %}
                {% else %}
                    {% if myinfo.photoNom != '' and file_exist('./uploads/images/useruploads/'~ myinfo.photoRepo ~'/'~ myinfo.photoNom) %}
                        <img id="profile-img" alt="Avatar" src="../uploads/images/useruploads/{{ myinfo.photoRepo }}/{{myinfo.photoNom}}" class="online">
                    {% else %}
                        <img id="profile-img" alt="No Avatar" src='../uploads/images/useruploads/avatar_defaut.png' class="online" >
                    {% endif %}
                {% endif %}
                <p>{{ session.login.Nom }} {{ session.login.Prenom }}</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span> <p>En ligne</p></li>
                        <li id="status-away"><span class="status-circle"></span> <p>Absent</p></li>
                        <li id="status-busy"><span class="status-circle"></span> <p>Occupé</p></li>
                        <li id="status-offline"><span class="status-circle"></span> <p>Hors ligne</p></li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>

        <div id="contacts">
            <ul>
                {% for conv in convdisp %}
                    {% if session.login.id != conv.id %}
                        {% if conv.id == iddest %}
            <a href="/Chat/{{ session.login.id }}/{{ conv.id }}"style="text-decoration: none">
                <li class="contact active">
                    <div class="wrap">
                        <span class="contact-status busy"></span>
                        {% if conv.photoNom != '' and file_exist('./uploads/images/useruploads/'~ conv.photoRepo ~'/'~ conv.photoNom) %}
                            <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ conv.photoRepo }}/{{conv.photoNom}}" class="online">
                        {% else %}
                            <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
                        {% endif %}
                        <div class="meta">
                            <p class="name">{{ conv.nom }} {{ conv.prenom }}</p>
                            {% for lastmessage in lastMessages %}
                                {% if lastmessage.MESSAGE_DESTINATAIRE == session.login.id and lastmessage.MESSAGE_ENVOYEUR == conv.id %}
                                    <p class="preview">{{ conv.prenom }}: {{ lastmessage.MESSAGE_CONTENU}}</p>
                                {% endif %}
                                {% if lastmessage.MESSAGE_DESTINATAIRE == conv.id and lastmessage.MESSAGE_ENVOYEUR == session.login.id %}
                                    <p class="preview">Vous: {{ lastmessage.MESSAGE_CONTENU }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </a>
                            {% set activenom = conv.nom %}
                            {% set activeprenom = conv.prenom %}

                        {% else %}
                                <a href="/Chat/{{ session.login.id }}/{{ conv.id }}"style="text-decoration: none">
                                    <li class="contact">
                                        <div class="wrap">
                                            <span class="contact-status busy"></span>
                                            {% if conv.photoNom != '' and file_exist('./uploads/images/useruploads/'~ conv.photoRepo ~'/'~ conv.photoNom) %}
                                                <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ conv.photoRepo }}/{{conv.photoNom}}" class="online">
                                            {% else %}
                                                <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
                                            {% endif %}                                            <div class="meta">
                                                <p class="name">{{ conv.nom }} {{ conv.prenom }}</p>
                                                {% for lastmessage in lastMessages %}
                                                    {% if lastmessage.MESSAGE_DESTINATAIRE == session.login.id and lastmessage.MESSAGE_ENVOYEUR == conv.id %}
                                                        <p class="preview">{{ conv.prenom }}: {{ lastmessage.MESSAGE_CONTENU}}</p>
                                                    {% endif %}
                                                    {% if lastmessage.MESSAGE_DESTINATAIRE == conv.id and lastmessage.MESSAGE_ENVOYEUR == session.login.id %}
                                                        <p class="preview">Vous: {{ lastmessage.MESSAGE_CONTENU }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            {% endif %}
                    {% endif %}
                {% endfor %}
                {% if convdisplike != '' %}
                    <div style="height: 50px;top: 25px;padding-top: 25px;">
                        <p style="color: grey">|-------------Ils vous ont liké-------------|</p>
                    </div>

                {% for conv in convdisplike %}
                    {% if session.login.id != conv.id %}
                        {% if conv.id == iddest %}
                            <a href="/Chat/{{ session.login.id }}/{{ conv.id }}"style="text-decoration: none">
                                <li class="contact active">
                                    <div class="wrap">
                                        <span class="contact-status busy"></span>
                                        {% if conv.photoNom != '' and file_exist('./uploads/images/useruploads/'~ conv.photoRepo ~'/'~ conv.photoNom) %}
                                            <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ conv.photoRepo }}/{{conv.photoNom}}" class="online">
                                        {% else %}
                                            <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
                                        {% endif %}                                                <div class="meta">
                                            <p class="name">{{ conv.nom }} {{ conv.prenom }}</p>
                                            <p class="preview">{{ extraitMessage }}</p>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            {% set activenom = conv.nom %}
                            {% set activeprenom = conv.prenom %}

                        {% else %}
                            <a href="/Chat/{{ session.login.id }}/{{ conv.id }}"style="text-decoration: none">
                                <li class="contact">
                                    <div class="wrap">
                                        <span class="contact-status busy"></span>
                                        {% if conv.photoNom != '' and file_exist('./uploads/images/useruploads/'~ conv.photoRepo ~'/'~ conv.photoNom) %}
                                            <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ conv.photoRepo }}/{{conv.photoNom}}" class="online">
                                        {% else %}
                                            <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
                                        {% endif %}                                                <div class="meta">
                                            <p class="name">{{ conv.nom }} {{ conv.prenom }}</p>
                                            <p class="preview">{{ extraitMessage }}</p>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% if iddest is defined %}
    <div class="content">
        <div class="contact-profile">
            {% if activeconvinfo.photoNom != '' and file_exist('./uploads/images/useruploads/'~ activeconvinfo.photoRepo ~'/'~ activeconvinfo.photoNom) %}
                <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ activeconvinfo.photoRepo }}/{{activeconvinfo.photoNom}}" class="online">
            {% else %}
                <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
            {% endif %}            <p>{{ activeconvinfo.nom}} {{ activeconvinfo.prenom }}</p>

        </div>
        <div class="messages">
            <ul>
                {% for message in activeConvMessage %}
                {% if message.envoyeur == session.login.id %}
                <li class="sent">
                    {% if myinfo.photoNom != '' and file_exist('./uploads/images/useruploads/'~ myinfo.photoRepo ~'/'~ myinfo.photoNom) %}
                        <img id="profile-img" alt="Avatar" src="../../uploads/images/useruploads/{{ myinfo.photoRepo }}/{{myinfo.photoNom}}" class="online">
                    {% else %}
                        <img id="profile-img" alt="No Avatar" src='../../uploads/images/useruploads/avatar_defaut.png' class="online" >
                    {% endif %}
                    <p>{{message.contenu}} </p>
                </li>
                {% endif %}
                {% if message.envoyeur == iddest %}
                <li class="replies">
                    <img src="" alt="" />
                    <p>{{message.contenu}}</p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <form action="/sendChat/{{ session.login.id }}/{{ iddest }}" method="post">
        <div class="message-input">
            <div class="wrap">
                <label>
                    <input style=" width: 360%;" name="contenu" required type="text" placeholder="Ecrivez votre message ..." />
                </label>
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button type="submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
        </form>
    {% endif %}
</div>
</div>

<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");

    $("#profile-img").click(function() {
        $("#status-options").toggleClass("active");
    });

    $(".expand-button").click(function() {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
    });

    $("#status-options ul li").click(function() {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if($("#status-online").hasClass("active")) {
            $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
            $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
            $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
            $("#profile-img").addClass("offline");
        } else {
            $("#profile-img").removeClass();
        }

        $("#status-options").removeClass("active");
    });
    //# sourceURL=pen.js
</script>
</body></html>