{% extends "BasicLayout.html.twig" %}
{% block title %} Liste des utilisateurs - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des utilisateurs</h1>
    </div>
    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userList %}
            <tr>
                <th scope="row"><a href="/User/Show/{{ user.id }}">#{{ user.id }}</a></th>
                <td>{{ user.nom }} </td>
                <td>{{ user.prenom }}</td>


            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>


{% endblock %}