<html>

<head>
    <title>formulaire d'édition du profil</title>
    <link rel="stylesheet" href="/assets/cssparametre.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="assets/js/jquery.knob.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #046336;">
    <div class="container-fluid"><a class="navbar-brand" href="/Accueil"><img src="../uploads/images/logo%20seul.png"
                                                                       style="margin: -5px;"></a><button data-toggle="collapse" class="navbar-toggler"
                                                                                                         data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="margin: 0 70px -25px 70px;">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><img
                                src="../uploads/images/glasses.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/chat/{{ session.login.id }}"><img src="../uploads/images/message.png"
                                                                                           style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/notification/{{ session.login.id }}"><img src="../uploads/images/bell.png"
                                                                                           style="width: 28px;"></a></li>
            </ul>
        </div><a href="/Profile/{{ session.login.id }}">Retour au profil<img></a>
    </div>
</nav>

<div id="fond">
    <h3>Editez votre profil</h3>

<form name="updateProfile" method="post" action="/UpdateProfile/{{ session.login.id }}" enctype="multipart/form-data">
    <table align="center" cellpadding="10">

        <div class="container profile profile-view" id="profile">
            <div class="row">
                <div class="col-md-12 alert-col relative">
                    <div class="alert alert-info absolue center" role="alert"><button type="button" class="close"
                                                                                      data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button><span>Profile save with success</span></div>
                </div>
            </div>

                <div class="form-row profile-row">
                    <div class="col-md-4 relative">
                        <div class="avatar">
                            <div class="avatar-bg center"></div>

                            <label>
                                <input type="checkbox" name="deleteAvatar" value="1"> Supprimer la photo de profil
                            </label>
                        <div class="custom-file">

                            <input type="file" class="form-control-file custom-file-input" name="image" id="inputFile">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01"></label>
                        </div>
                    </div>
                </div>

        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/Profile-Edit-Form.js"></script>

        <!----- First Name ----------------------------------------------------------><tr>
            <td>Prénom</td>
            <td><input value="{{ user.prenom }}" required type="text" name="First_Name" maxlength="30" />

            </td>
        </tr>

        <!----- Last Name ---------------------------------------------------------->
        <tr>
            <td>Nom</td>
            <td><input value="{{ user.nom }}" required type="text" name="Last_Name" maxlength="100" /></td>
        </tr>

        <!----- Date Of Birth -------------------------------------------------------->
        <tr>
            <td>Date de naissance</td>

            <td>
                <input value="{{ user.birthdate }}" required type="date" name="Birthday">
            </td>
        </tr>

        <!----- Gender ----------------------------------------------------------->
        <tr>
            <td>Genre</td>
            <td>
                <label>
                    <select name="Gender">
                        <option {% if user.sexe==1 %} selected {% endif %} value="1">Homme</option>
                        <option {% if user.sexe==0 %} selected {% endif %} value="0">Femme</option>
                        <option {% if user.sexe==2 %} selected {% endif %} value="2">Non précisé</option>
                    </select>
                </label>
            </td>
        </tr>


        <!----- City ---------------------------------------------------------->
        <tr>
            <td>Ville</td>
            <td><input value="{{ user.ville }}" required type="text" name="City" maxlength="30" />

            </td>
        </tr>

        <!----- Pin Code ---------------------------------------------------------->

        <!----- State ---------------------------------------------------------->


        <!----- Country ---------------------------------------------------------->
        <tr>
            <td>Pays</td>
            <td><input value="{{ user.pays }}" required type="text" name="Country" value="France" readonly="readonly" /></td>
        </tr>

        <!----- Hobbies ---------------------------------------------------------->
        <datalist size="10" id="passions">
        {% for hobby in hobbylist %}
                <option value="{{ hobby }}" >{{ hobby }}</option>
        {% endfor %}
        </datalist>
        <tr>
            <td>Hobbies | Passions | Loisirs (12 max) <br /><br /><br /></td>
            <td>
                <label>
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" />
                    <p></p>
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" />
                    <p></p>
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" /> ,
                    <input placeholder="entrez une passion" list="passions" type="text" name="Hobby[]" value="" />
                </label>
            </td>
        </tr>


        <!----- je cherche ---------------------------------------------------------->

        <tr>
            <td>Je cherche</td>
            <td>
                <label>
                    <select name="Genderneed">
                        <option {% if user.needsexe==1 %} selected {% endif %} value="1">Homme</option>
                        <option {% if user.needsexe==0 %} selected {% endif %} value="0">Femme</option>
                        <option {% if user.needsexe==2 %} selected {% endif %} value="2">Les deux</option>
                    </select>
                </label>
            </td>
        </tr>



        <tr>
            <td>Souhaitez vous rencontrer des gens dans votre région ? </td>
            <td>
                Oui <input {% if user.wannadateathome==1 %} checked {% endif %} type="radio" name="athome" value="1" />
                Non <input {% if user.wannadateathome==0 %} checked {% endif %}type="radio" name="athome" value="0" />

            </td>
        </tr>

        <tr>
            <td>Dans quel ville souhaitez vous chercher ? </td>
            <td><input value="{{ user.needville }}" type="text" name="Cityneed" maxlength="30" />

            </td>
        </tr>

        <tr>
            <td>Qui peut voir mon profil </td>
            <td>
                Tout le monde
                <input {% if user.galerieispublic==1 %} checked {% endif %} type="radio" name="galerieispublic" value="1" />
                Uniquement les profils auquels je suis abonnés
                <input {% if user.galerieispublic==0 %} checked {% endif %} type="radio" name="galerieispublic" value="0" />
            </td>
        </tr>


















        <!----- Submit and Reset ------------------------------------------------->
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </td>
        </tr>
    </table>

    </form>
</div>
</body>

</html>