<!DOCTYPE html>
<html class="text-monospace text-nowrap text-truncate text-break">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>profile</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/assets/css/styleprofile.css">
</head>

<body class="d-flex flex-column justify-content-start">
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #046336;">
    <div class="container-fluid"><a class="navbar-brand" href="/Accueil"><img src="../uploads/images/logo%20seul.png" style="margin: -5px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1" style="margin: 0 70px -25px 70px;">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><img src="../uploads/images/glasses.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/Chat/{{ session.login.id }}"><img src="../uploads/images/message.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/notification/{{ session.login.id }}"><img src="../uploads/images/bell.png" style="width: 28px;"></a></li>
            </ul>
        </div><a href="/UpdateProfile/{{ session.login.id }}">Mettez à jour votre profil<img></a></div>
</nav>
<div>
    <div class="media d-flex" style="margin-right: 500px;">
        {% if infoUser.photoNom != '' and file_exist('./uploads/images/useruploads/'~ infoUser.photoRepo ~'/'~ infoUser.photoNom) %}
            <img alt="Avatar" src="../uploads/images/useruploads/{{ infoUser.photoRepo }}/{{infoUser.photoNom}}" class="mr-3" style="width: 100px;height: 100px;margin-left: 10px;margin-top: 10px;">
        {% else %}
            <img alt="No Avatar" src='../uploads/images/useruploads/avatar_defaut.png' class="mr-3" style="width: 100px;height: 100px;margin-left: 10px;margin-top: 10px;">
        {% endif %}
        <div class="media-body" style="margin-top: 10px;margin-right: 0px;">
            <h5 style="font-family: Montserrat, sans-serif;">{{ infoUser.nom }} {{infoUser.prenom }}&nbsp;</h5>
            <p style="width: 70px;font-family: Montserrat, sans-serif;">{{ age }}</p>
            <p style="margin-left: 381px;margin-bottom: 0;margin-right: 0px;margin-top: -62px;font-family: Montserrat, sans-serif;">{{ infoUser.ville }}, {{ infoUser.pays }}</p>
            {% if session.login.id != userid %}
            <button class="btn btn-primary" type="button" style="margin-left: 221px;margin-top: 30px;background-color: rgb(58,189,128);">S'abonner</button><a href="/newlike/{{ session.login.id }}/{{ userid }}"><i class="material-icons d-flex" style="color: rgb(32,32,32);margin-left: 326px;margin-right: 0px;margin-top: -28px;">keyboard_arrow_down</i></a></div>
            <button class="btn btn-primary" type="button" style="margin-left: 221px;margin-top: 30px;background-color: rgb(58,189,128);">Signaler</button><a href="/signaler/{{ session.login.id }}/{{ userid }}/0/signalement"><i class="material-icons d-flex" style="color: rgb(32,32,32);margin-left: 326px;margin-right: 0px;margin-top: -28px;">keyboard_arrow_down</i>Signaler</a></div>
        {% endif %}
    </div>

</div>

<div style="margin-left: 269px;">
    <section style="background-color: rgba(58,189,128,0.41);height: 177px;width: 487px;margin-left: 673px;margin-top: -94px;">
        <p class="d-flex" style="font-family: Montserrat, sans-serif;margin-left: 10px;margin-top: 0px;margin-bottom: 0px;">Mes Voyages de prévu :&nbsp;</p>
        <p style="margin: 26px;font-family: Montserrat, sans-serif;">Paragraphe</p>
    </section>
</div>
<div class="d-flex" style="background-color: rgba(242,242,242,0);height: 100%;width: 665px;margin-right: 0px;margin-bottom: 0px;">
    <p class="text-left d-flex" style="margin: 18px;margin-bottom: 0px;">Paragraphe</p>
</div>
<div style="margin-left: 349px;margin-top: 93px;">
    <section class="d-block" style="height: 73px;width: 475px;margin-left: 690px;margin-bottom: 0px;margin-top: -24px;">
        <p style="font-family: Montserrat, sans-serif;">Ce que j'aime :&nbsp;</p>
        <div>
            <p style="font-family: Montserrat, sans-serif;">Ici ce que les gens aimes</p>
        </div><a href="/Galerie/{{ session.login.id }}"><button class="btn btn-primary" type="button" style="background-color: rgb(58,189,128);margin-left: 164px;margin-top: 16px;">Galerie Photo</button></a></section>
</div>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>